// flexbox classes

$flexX:
(
	left: flex-start,
	center: center,
	right: flex-end,
	space: space-between,
	stretch: stretch
);

$flexY:
(
	top: flex-start,
	center: center,
	bottom: flex-end,
	space: space-between,
	stretch: stretch
);

@mixin hz
{
	@each $flexXkey, $flexXvalue in $flexX
	{
		@each $flexYkey, $flexYvalue in $flexY
		{
			&-x-#{$flexXkey}--y-#{$flexYkey}
			{
				display: flex;
				flex-direction: row;
				justify-content: $flexXvalue;
				align-items: $flexYvalue;
			}
		}
	}
}

.hz
{
	@include hz;
}

@mixin vt
{
	@each $flexXkey, $flexXvalue in $flexX
	{
		@each $flexYkey, $flexYvalue in $flexY
		{
			&-x-#{$flexXkey}--y-#{$flexYkey}
			{
				display: flex;
				flex-direction: column;
				align-items: $flexXvalue;
				justify-content: $flexYvalue;
			}
		}
	}
}

.vt
{
	@include vt;
}

// flex-grow classes

$growValues:
(
	1: 0,
	2: 1,
	3: 2,
	4: 3,
	5: 4,
	6: 5,
	7: 6,
	8: 7,
	9: 8,
	10: 9,
	11: 10
);

@mixin grow
{
	@each $growKey, $growValue in $growValues
	{
		&-#{$growValue}
		{
			flex-grow: $growValue;
		}
	}
}

.grow
{
	@include grow;
}